{% extends "base_template.html" %}
{% set active_page='analyseur' %}

{% block content %}


<H2>Analyseur de transaction</H2>

{% if err_message %}
<div class="alert alert-danger">
    <span>{{ err_message | safe }}</span>
</div>
{% endif %}

{% if app_message %}
<div class="alert alert-success">
    <span>{{ app_message | safe }}</span>
</div>
{% endif %}

<div class="container">
    <form method="POST" action="{{ url_for('analiseur') }}">
        <div class="form-group">
            <label for="transaction_raw">Transaction : </label>
            <textarea required rows="5" class="form-control" placeholder="Veuillez saisir une transaction brute"
                      id="transaction_raw" name="transaction_raw" value="{{ transaction_raw }}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Analiser
        </button>
    </form>



{% if json %}
    <br>
    <div class="card">
        <div class="card-header"><H3>Résultat</H3></div>
        <div class="card-content">
            <pre>
<code id="json"></code>
            </pre>
        </div>
    </div>


    <script>
        let jsonStr='{{ json|tojson  }}';
        let jsObj = JSON.parse(jsonStr);
        let str = JSON.stringify(jsObj, null, 2);
        document.getElementById("json").innerHTML =str;

    </script>

{% endif %}
</div>
{% endblock %}