<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-light bg-light navbar-expand-lg">
      <a class="navbar-brand" href="{{ url_for('welcome') }}">
        <img src="{{ url_for('static', filename='logo.jpg') }}" width="100" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{ 'active' if active_page == 'index' else '' }}">
            <a class="nav-link" href="{{ url_for('welcome') }}"><span class="fa fa-home" aria-hidden="true"></span>&nbsp;Accueil</a>
          </li>
          <li class="nav-item {{ 'active' if active_page == 'conversion' else '' }}">
            <a class="nav-link" href="{{ url_for('conversion') }}"><span class="fa fa-calculator" aria-hidden="true"></span>&nbsp;Conversion</a>
          </li>
          <li class="nav-item {{ 'active' if active_page == 'explorateur' else '' }}">
            <a class="nav-link" href="{{ url_for('explorateur') }}"><span class="fa fa-binoculars" aria-hidden="true"></span>&nbsp;Explorateur</a>
          </li>
          <li class="nav-item {{ 'active' if active_page == 'analyseur' else '' }}">
            <a class="nav-link" href="{{ url_for('analiseur') }}"><span class="fa fa-cut" aria-hidden="true"></span>&nbsp;Analyseur de Transaction</a>
          </li>
        </ul>
      </div>
    </nav>


  <div class="container">
    <!-- Your page content -->

    {% block content %}

    {% endblock %}

  </div>

   <footer style="margin:1em;background-color: #f5f5f5;">
    <p>Emmanuel COLLIN &middot;</p>
  </footer>

    <!-- Optional JavaScript -->
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}

  </body>
</html>