{% extends "base_template.html" %}
{% set active_page='explorateur' %}

{% block content %}

<H2>Détail d'un bloc</H2>

  {% if err_message %}
    <div class="alert alert-danger">
        <span>{{ err_message | safe }}</span>
    </div>
  {% endif %}

  {% if app_message %}
    <div class="alert alert-success">
        <span>{{ app_message | safe }}</span>
    </div>
  {% endif %}


<h3>{{ blockinfo["hash"] }}</h3>
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Taille</td>
        <td>{{ blockinfo["size"] }}</td>
      </tr>
      <tr>
        <td>Poids</td>
        <td>{{ blockinfo["weight"] }}</td>
      </tr>
      <tr>
        <td>Version</td>
        <td>{{ blockinfo["version"] }}</td>
      </tr>
      <tr>
        <td>Racine de Merkel</td>
        <td>{{ blockinfo["merkleroot"] }}</td>
      </tr>
      <tr>
        <td>Heure</td>
        <td>{{ blockinfo["time_fmt"] }}</td>
      </tr>
      <tr>
        <td>Nonce</td>
        <td>{{ blockinfo["nonce"] }}</td>
      </tr>
      <tr>
        <td>Bits</td>
        <td>0x{{ blockinfo["bits"] }}&nbsp;&nbsp;({{ blockinfo["bits_dec"] }})</td>
      </tr>
      <tr>
        <td>Cible</td>
        <td>{{ blockinfo["target"] }}</td>
      </tr>
      <tr>
        <td>Difficulté</td>
        <td>{{ blockinfo["difficulty"] }}</td>
      </tr>
      <tr>
        <td>Nombre de transactions</td>
        <td>{{ blockinfo["nTx"] }}</td>
      </tr>

    </tbody>
  </table>

<h3>Transactions</h3>
<ul>
    {% for tx in tx_json["transactions"] %}
        <div class="card">
            <div class="card-header">ID : <a href="{{ url_for('transaction_detail',hash=tx['txid']) }}">{{ tx['txid'] }}</a></div>
            <div class="card-body">

                  <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Montant</td>
                            <td>{{ tx["amount"] }}</td>
                        </tr>
                        <tr>
                            <td>Heure</td>
                            <td>{{ tx["time_fmt"] }}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    {% endfor %}
</ul>

{% endblock %}