{% extends "base_template.html" %}
{% set active_page='conversion' %}

{% block content %}

<script>
function onSelectConversion(select) {
    label = document.getElementById("number");
    placeholder = "";
    switch(select.value) {
    case "1":
        placeholder = "Veuillez saisir un nombre héxadéimal";
        break;
    case "2":
        placeholder = "Veuillez saisir un nombre décimal";
        break;
    case "3":
        placeholder = "Veuillez saisir un nombre héxadéimal 'little endian'";
        break;
    case "4":
        placeholder = "Veuillez saisir un VARINT";
        break;
    case "5":
        placeholder = "Veuillez Saisir un champ Bits";
        break;
    case "6":
        placeholder = "Veuillez Saisir une cible (target)";
        break
    }
    label.placeholder = placeholder;
}

</script>

<H2>Conversion</H2>

  {% if err_message %}
    <div class="alert alert-danger">
        <span>{{ err_message | safe }}</span>
    </div>
  {% endif %}

  {% if app_message %}
    <div class="alert alert-success">
        <span>{{ app_message | safe }}</span>
    </div>
  {% endif %}


<form method="POST" action="{{ url_for('conversion') }}">
    <div class="form-group">

        <label for="conversion_type">Type de conversion:</label>
          <select class="form-control" id="conversion_type" name="conversion_type" onchange="onSelectConversion(this);">
            <option value="1" selected>Hexadécimal -> décimal</option>
            <option value="2">Décimal -> hexadécimal</option>
            <option value="3">Hexadécimal little endian -> hexadécimal</option>
            <option value="4">varInt ->décimal</option>
              <option value="5">Champ Bits -> Cible correspondante</option>
              <option value="6">Cible -> Difficulté</option>
          </select>

        <label for="number">Nombre : </label>
        <input type="" class="form-control" placeholder="Veuillez saisir un nombre héxadéimal" id="number" name="number">

    </div>

    <button type="submit" class="btn btn-primary">Convertir</button>
</form>


{% endblock %}