{% extends "base_template.html" %}
{% set active_page='explorateur' %}

{% block content %}


<H2>Explorateur</H2>

  {% if err_message %}
    <div class="alert alert-danger">
        <span>{{ err_message | safe }}</span>
    </div>
  {% endif %}

  {% if app_message %}
    <div class="alert alert-success">
        <span>{{ app_message | safe }}</span>
    </div>
  {% endif %}

<div class="card">
    <div class="card-header">
        <h3>Connexion à la blockchain</h3>
    </div>
    <div class="card-content">
        {% set host = "192.168.70.115" %}
        {% set port = "16591" %}
        {% set username = "" %}
        {% set password = "" %}
        {% if session and session.con %}
            {% set host = session.con.host %}
            {% set port = session.con.port %}
            {% set username = session.con.username %}
            {% set password = session.con.password %}
        {% endif %}
    <form method="POST" action="{{ url_for('explorateur') }}">
        <div class="form-group">
            <div class="form-row">
                <div class="col-sm-2">
                    <label for="hostname">Host : </label>
                </div>
                <div class="col-sm-4">
                    <input  required type="" class="form-control" placeholder="Veuillez saisir l'adresse IP ou le nom DNS du noeud bitcoin" id="hostname" name="hostname" value="{{ host }}">
                </div>
                <div class="col-sm-2">
                    <label for="port">Port : </label>
                </div>
                <div class="col-sm-4">
                    <input  required type="" class="form-control" placeholder="Veuillez saisir le port du noeud bitcoin" id="port" name="port" value="{{ port }}">
                </div>
            </div>
            <div class="form-row" style="margin-top:1em;">
                <div class="col-sm-2">
                    <label for="username">Identifiant : </label>
                </div>
                <div class="col-sm-4">
                    <input  required type="" class="form-control" placeholder="Veuillez saisir l'identifiant de la connexion au noeud bitcoin" id="username" name="username" value="{{ username }}">
                </div>
                <div class="col-sm-2">
                    <label for="password">Mot de passe : </label>
                </div>
                <div class="col-sm-4">
                    <input  required type="password" class="form-control" placeholder="Veuillez saisir le mot de passe de la connexion au noeud bitcoin" id="password" name="password" value="{{ password }}">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">
            Connexion
        </button>

    </form>

    </div>
</div>

{% if session.bi %}
<hr/>
    <div class="card">
        <div class="card-header">
            <h3>Informations sur la blockchain</h3>
        </div>
        <div class="card-content">
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Nombre de blocs</td>
        <td>{{ session["bi"]["blockcount"] }}</td>
      </tr>
      <tr>
        <td>Difficulté actuelle</td>
        <td>{{ session["bi"]["difficulty"] }}</td>
      </tr>
      <tr>
        <td>Solde</td>
        <td>{{ session["bi"]["balance"] }}</td>
      </tr>
    </tbody>
  </table>

    </div>
        </div>
{% endif %}


{% if blocks %}
<hr/>
    <div class="card">
        <div class="card-header">
            <h4>Recherche directe d'un bloc ou d'une transaction</h4>
        </div>
        <div class="card-body" style="">
            <form method="POST" action="{{ url_for('search_block') }}">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-sm-2">
                            <label for="hash">Bloc Hash : </label>
                        </div>
                        <div class="col-sm-4">
                            <input required type="text" class="form-control" placeholder="Veuillez saisir un identifiant de block" id="hash" name="hash" value="">
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </div>
                </div>
            </form>
            <form method="POST" action="{{ url_for('search_transaction') }}">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-sm-2">
                            <label for="hash">ID transaction : </label>
                        </div>
                        <div class="col-sm-4">
                            <input required type="text" class="form-control" placeholder="Veuillez saisir un identifiant de transaction" id="hash" name="hash" value="">
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">
            <h3>{{ session["bi"]["blockcount"] }} blocs présents dans la blockchain</h3>
        </div>
        <div class="card-content">

            {% set pagination %}
                {% if session["bi"]["blockcount"] != "0" %}
                    <ul class="pagination">
                         {% if blocks['block_index'] != '0' %}
                            <li class="page-item"><a class="page-link" data-toggle="tooltip" title="Blocs précédents" href='{{ url_for("explorateur") }}?action=prev&block_index={{ blocks["block_index"] }}'><span class="fa fa-angle-double-left" aria-hidden="true"></span></a></li>
                         {% endif %}

                         {% if (blocks['block_index']|int) + session["bi"]["blocksperpage"] < session["bi"]["blockcount"]|int %}
                              <li class="page-item"><a class="page-link" data-toggle="tooltip" title="Blocs suivants" href='{{ url_for("explorateur") }}?action=next&block_index={{ blocks["block_index"] }}'><span class="fa fa-angle-double-right" aria-hidden="true"></span></a></li>
                         {% endif %}
                    </ul>
                {% endif %}
            {% endset %}

            {{ pagination }}

            <ul>
                {% for block in blocks["blocks"] %}
                <li><a href="{{ url_for('block_detail',hash=block) }}">{{ block }}</a></li>
                {% endfor %}

            </ul>

            {{ pagination }}

            </div>
    </div>
{% endif %}
{% endblock %}