{% extends "base_template.html" %}
{% set active_page='index' %}


{% block content %}
  <h1>Alyra - Formation développeur blockchain</h1>
  <h2>Défi n° 1</h2>
  <h3>Welcome</h3>
{% endblock %}
