{% extends "base_template.html" %}
{% set active_page='explorateur' %}

{% block content %}

<H2>Détail d'une transaction</H2>

  {% if err_message %}
    <div class="alert alert-danger">
        <span>{{ err_message | safe }}</span>
    </div>
  {% endif %}

  {% if app_message %}
    <div class="alert alert-success">
        <span>{{ app_message | safe }}</span>
    </div>
  {% endif %}

{% if transaction %}
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ transaction["txid"] }}</td>
      </tr>
      <tr>
        <td>Heure</td>
        <td>{{ transaction["time_fmt"] }}</td>
      </tr>
      <tr>
        <td>Frais</td>
        <td>{{ transaction["fee"] }}</td>
      </tr>
    </tbody>
  </table>

    <div class="container border border-dark">
        <h4>Entrées</h4>
            {% for input in transaction["decoded"]["vin"] %}
              <table class="table">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>ID</td>
                      <td><a href="{{ url_for('transaction_detail',hash=input['txid']) }}">{{ input["txid"] }}</a></td>
                  </tr>
                </tbody>
              </table>
            {% endfor %}
    </div>
    <div class="container border border-dark" style="margin-top:1em">
        <h4>Sorties</h4>
            {% for output in transaction["decoded"]["vout"] %}
              <table class="table" style="margin-bottom:1em;">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Index</td>
                        <td>{{ output["n"] }}</td>
                    </tr>
                  <tr>
                    <td>Adresses</td>
                    <td>
                        <ul>
                            {% for addr in output["scriptPubKey"]["addresses"] %}
                                <li>{{ addr }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Montant</td>
                    <td>{{ output["value"] }}</td>
                  </tr>
                </tbody>
              </table>

            {% endfor %}
    </div>
{% endif %}


{% endblock %}