<!DOCTYPE html>
<html lang="en">

<body class="container">

<main>
    <div class="jumbotron">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
    </div>
    <pre><%= error.stack %></pre>
</main>

</body>
</html>
