<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">D&eacute;fi 3</a>
  
  <!-- Links -->
  <!--
  <ul class="navbar-nav">

    <% for (let i=0; i<menu.length; i++) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%= menu[i].link %>"><%= menu[i].option %></a>
        </li>
    <% } %>

  </ul>
  -->

  <span class="navbar-text" id="metamaskStatus">
  </span>
</nav>