<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body>

    <header>
        <%- include('header'); %>
    </header>

    <main class="container" >
        <div class="jumbotron" id="title">
            <h1><%= title %></h1>
            <h2><%= subTitle %></h2>
        </div>

        <div class="container" id="main" style="display: none">
            <p>Adresse du smart contract : <span id="smartContractAddress"></span></p>
             <p>Votre Adresse : <span id="userAddress"></span></p>

            <div id="addFileForm">
                <h2>Ajouter un fichier</h2>
                <div id="errorMessagePanel" class="alert alert-danger" style="display:none">
                    <span id="errorMessage"></span>
                </div>
                <div id="messagePanel" class="alert alert-success" style="display:none">
                    <span id="message"></span>
                </div>

                <form action="/upload" method="post" enctype="multipart/form-data" id="theForm">
                    <label htmlFor="theFile">S&eacute;lectionnez le fichier</label>
                    &nbsp;
                    <input type="file" name="theFile" id="theFile" required onchange="loadFile()" />
                  <br/>
                    <div id="selectedFile">
                        <span id="selectedFilename"></span>
                    </div>
                  <input type="submit" value="Ajouter un fichier"/>
                </form>
          </div>

        </div>
    </main>


    <footer>
        <%- include('footer'); %>
    </footer>
</body>
</html>

