doctype
html(lang='fr')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content

    link(rel='javascript', href='/js/jquery.slim.min.js')
    link(rel='javascript', href='/js/bootstrap.min.js')